body {
  padding: 38px;
}
.button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.text-center {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 40px 0px 25px;
}

  
@media (max-width: 576px) {
  body{
    padding: 10px;
    margin-top: 25px;
  }
  .articles{
    height: fit-content ;

  }
}
